{% extends 'home.html' %}
{% block c %}

<body><form action="/myapp/senddoubts_post/" method="post">
    {%  csrf_token %}
    <input type="hidden" name="nid" value="{{ id }}">
<table class="table table-bordered">
    <tr>
      <th width="72" scope="row">Ask</th>
      <td width="335"><input type="text" name="textfield" id="textfield" class="form-control" required/></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="Send" class="btn btn-success"/></th>
    </tr>
  </table>
</form>
</body>
{% endblock %}
