{% extends 'student/studentindex.html' %}

{% block c %}

     <section class="w3l-main-slider" id="home">
     <div class="companies20-content">
         <div class="owl-one owl-carousel owl-theme">
             <div class="item">
                 <li>
                     <div class="slider-info banner-view bg bg2">
                         <div class="banner-info">
                             <div class="container">
                                 <div class="banner-info-bg">
                                     <h5>Good Design for Stylish Living. Make your home Modern.
                                     </h5>
                                     <a class="btn btn-style btn-primary mt-sm-5 mt-4" href="#services"> Our
                                         Services</a>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </li>
             </div>
{#             <div class="item">#}
{#                 <li>#}
{#                     <div class="slider-info  banner-view banner-top1 bg bg2">#}
{#                         <div class="banner-info">#}
{#                             <div class="container">#}
{#                                 <div class="banner-info-bg">#}
{#                                     <h5>Best Home Decoration agency. The best Interior Solution</h5>#}
{#                                     <a class="btn btn-style btn-primary mt-sm-5 mt-4" href="#services"> Our#}
{#                                         Services</a>#}
{#                                 </div>#}
{#                             </div>#}
{#                         </div>#}
{#                     </div>#}
{#                 </li>#}
{#             </div>#}
{#             <div class="item">#}
{#                 <li>#}
{#                     <div class="slider-info banner-view banner-top2 bg bg2">#}
{#                         <div class="banner-info">#}
{#                             <div class="container">#}
{#                                 <div class="banner-info-bg">#}
{#                                     <h5>Browse Styles and get Inspired. Home decoration services.#}
{#                                     </h5>#}
{#                                     <a class="btn btn-style btn-primary mt-sm-5 mt-4" href="#services"> Our#}
{#                                         Services</a>#}
{#                                 </div>#}
{#                             </div>#}
{#                         </div>#}
{#                     </div>#}
{#                 </li>#}
{#             </div>#}
{#             <div class="item">#}
{#                 <li>#}
{#                     <div class="slider-info banner-view banner-top3 bg bg2">#}
{#                         <div class="banner-info">#}
{#                             <div class="container">#}
{#                                 <div class="banner-info-bg">#}
{#                                     <h5>Get your Personalized interior & Home design services</h5>#}
{#                                     <a class="btn btn-style btn-primary mt-sm-5 mt-4" href="services.html"> Our#}
{#                                         Services</a>#}
{#                                 </div>#}
{#                             </div>#}
{#                         </div>#}
{#                     </div>#}
{#                 </li>#}
{#             </div>#}
         </div>
     </div>
 </section>

{% endblock %}


{% block body %}

{% endblock %}