{% extends 'admin/index.html' %}
{% block c %}
<body>
<form id="form1" name="form1" method="post" action="/myapp/addsubject_post/">
    {% csrf_token %}
  <table class="table table-bordered">
    <tr>
      <th width="88" scope="col">SUBJECT</th>
      <th width="344" scope="col">
      <input type="text" name="textfield" id="textfield" class="form-control" required/></th>
    </tr>
    <tr>
      <td colspan="2" align="center"><input type="submit" name="button" id="button" value="Add" class="btn btn-success"/></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}