{% extends 'admin/index.html' %}
{% block c %}
<body>
<form id="form1" name="form1" method="post" action="/myapp/viewfeedback_post/">
    {% csrf_token %}
  <table class="pull-left">
    <tr>
      <th width="53" scope="col">FROM DATE</th>
      <th width="168" scope="col"><label for="textfield"></label>
      <input type="date" name="textfield" id="textfield" class="form-control" required/></th>
      <th width="52" scope="col">TO DATE</th>
      <th width="168" scope="col"><label for="textfield2"></label>
      <input type="date" name="textfield2" id="textfield2" class="form-control" required/></th>
      <th width="120" scope="col"><input type="submit" name="button" id="button" value="Search" class="btn btn-success"/></th>
    </tr>
  </table>
<table class="table table-bordered">
    <tr>
      <th width="62" scope="col">SI/NO</th>
      <th width="73" scope="col">DATE</th>
      <th width="79" scope="col">USER INFO</th>
              <th width="79" scope="col">TYPE</th>
      <th width="349" scope="col">FEEDBACK</th>
    </tr>
    <tr>
    {% for i in data %}
      <td>{{ forloop.counter }}</td>
      <td>{{ i.date }}</td>
        <td>{{ i.FROM.username }}</td>
        <td>{{ i.FROM.type }}</td>
      <td>{{ i.feedback }}</td>
    </tr>
  {% endfor %}
  </table>
</form>
</body>
{% endblock %}
