{% extends 'tutor/index.html' %}
{% block c %}
<body>

<form id="form1" name="form1" method="post" action="/myapp/editnote_post/" enctype="multipart/form-data">
    <input type="hidden" name="id" id="textfield2" value="{{ data.id }}" />
  <table class="table table-bordered">
      {% csrf_token %}
  <tr>
    <th width="85" scope="row">Document</th>
    <td width="238"><input type="file" name="filefield" id="filefield" value="{{ data.note }}" class="form-control"/></td>
  </tr>
  <tr>
    <th scope="row">Topic Name</th>
    <td><input type="text" name="textfield2" id="textfield2" value="{{ data.topic }}" class="form-control" /></td>
  </tr>
    <tr>
        <th scope="row">Description</th>
            <td><input type="text" name="textfield3" id="textfield3" value="{{ data.description }}" /></td>
    </tr>
  <tr>
    <th height="76" colspan="2" scope="row"><input type="submit" name="button" id="button" value="Edit" class="btn btn-success"/></th>
    </tr>
</table>
</form>
</body>
{% endblock %}